.text {
  margin: 0;
  padding: 1rem;
  width: 60%;
}

.about {
  gap: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  background-color: #76b07026;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.about-text {
  font-size: 1.5rem;
  width: 50vw;
}

.example {
  width: 35%;
  height: 35%;
  margin: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.example:hover {
  transform: scale(1.02);
  box-shadow: var(--dark-green) 0px 4px 8px 0px;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .about .text {
    width: 90%;
    margin-bottom: 2rem;
  }

  .about-text {
    width: 100%;
    font-size: 1.2rem;
  }

  .example {
    width: 80%;
    height: auto;
  }
}
