.team-member-div {
  border-radius: 10px;
  background: var(--semi-opaque-green);
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-socials a {
  color: black;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.team-socials a:hover {
  color: var(--bright-blue, #36c6fb);
  transform: translateY(-3px);
}

.team-member-div p {
  width: 80%;
  padding: 0.2rem 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.team-member-div h2 {
  margin-bottom: 0;
  text-align: center;
}

.team-member-div img {
  margin-top: 15px;
  width: 250px;
  border-radius: 10px;
}

.meet-the-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .meet-the-team {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  
  .team-member-div {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
  }
}
