.info {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0;
  text-align: center;
}

.basicinfo {
  display: flex;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: rgba(176, 203, 169, 1);
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 15px;
  justify-content: space-between !important;
  transition: box-shadow 0.3s ease;
}

.basicinfo:hover {
  box-shadow: var(--dark-green) 0px 4px 8px 0px;
}

@media screen and (max-width: 768px) {
  .basicinfo {
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    height: auto;
  }
}
