@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Figtree;
}

.display {
  font-family: ABeeZee;
}

.mono {
  font-family: "Source Code Pro";
}

#title {
  color: #2e522b;
}

#sign-up-link {
  padding: 1em;
  background: #76b070;
  border-radius: 5%;
  color: #132f1e;
}
