@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.display {
  font-family: ABeeZee;
}
