@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

#root {
  text-align: center;
  font-family: Figtree;
  color: #132f1e;
}

.display {
  font-family: ABeeZee;
}

.mono {
  font-family: "Source Code Pro";
}

#title {
  color: #2e522b;
}

#sign-up-link {
  padding: 1em;
  background: #76b070;
  border-radius: 15px;
  color: #132f1e;
  text-decoration: none;
}

.navbar {
  position: relative;
  width: 100%;
  background-color: #64d6ff4d;
  padding: 1.35rem 1.8rem;
  display: flex;
  gap: 0.9rem;
  justify-content: flex;
  flex-wrap: wrap;
  margin-top: -0.9rem;
  margin-bottom: 0.9rem;
  z-index: 1;
}

.navbar a {
  color: #132f1e;
  padding: 0.45rem 0.9rem;
  border-radius: 0.45rem;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
