@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Figtree;
}

.display {
  font-family: ABeeZee;
}

.mono {
  font-family: "Source Code Pro";
}

#title {
  color: #2e522b;
}

#sign-up-link {
  padding: 1em;
  background: #76b070;
  border-radius: 5%;
  color: #132f1e;
  text-decoration: none;
}

.navbar {
  position: relative;
  width: 100%;
  background-color: var(--cpt-surface1);
  padding: 1.35rem 1.8rem;
  display: flex;
  gap: 0.9rem;
  justify-content: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--cpt-surface2);
  margin-top: -0.9rem;
  margin-bottom: 0.9rem;
  z-index: 1;
}

.navbar a {
  color: var(--cpt-text);
  border: 2px solid var(--cpt-blue);
  padding: 0.45rem 0.9rem;
  border-radius: 0.45rem;
  text-decoration: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a:visited {
  color: var(--cpt-text);
}

.navbar a:hover {
  background-color: var(--cpt-blue);
  color: var(--cpt-crust);
}
