@font-face {
    font-family: 'Figtree';
    src: url("/fonts/Figtree.ttf") format("truetype");
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    background: #eae6e2;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: "Figtree", sans-serif;
    color: #132f1e;
}

body {
    max-width: 100%;
    /* Custom scrollbar styling */
    scrollbar-width: thin;
    scrollbar-color: #76b070 #eae6e2;
}

/* Scrollbar styling for Chromium browsers (Chrome, Edge, etc.) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #eae6e2;
}

::-webkit-scrollbar-thumb {
    background: #76b070;
    border-radius: 6px;
    border: 2px solid #eae6e2;
}

::-webkit-scrollbar-thumb:hover {
    background: #598654;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
