@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  background: #eae6e2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: "Figtree", sans-serif;
  color: #132f1e;
}

body {
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}